.item-main{
  width: 587px;
  height: fit-content;
  margin-left: 75px;

}
h3{
  color: blueviolet;

}
.addeditpanel{
  width: 587px;
  height: 60px;
  border: 1px solid;
  background-color: aquamarine;

}
.searchinput{
  margin-top: 25px;
  border: 1px solid;
  border-radius: 5px;
  width: 211px;
  height: 25px;
  background-color: aliceblue;

}
.addeditpaneldiv{
  margin-left: 5px;
  display: inline-block;
}
.addeditinput{
  border: 1px solid;
  border-radius: 5px;
  width: 140px;
  height: 25px;
  background-color: antiquewhite;

}