.item-main{
  width: 1200px;
  height: fit-content;
  margin-left: 15px;
}
h3{
  color: blueviolet;
  text-align: center;
}
.addeditpanel{
  width: 1200px;
  height: 60px;
  border: 1px solid;
  background-color: aquamarine;
}
.searchinput{
  margin-top: 25px;
  border: 1px solid;
  border-radius: 5px;
  width: 211px;
  height: 25px;
  background-color: aliceblue;
}
.addeditpaneldiv{
  margin-left: 5px;
  display: inline-block;
}
.addeditinput{
  border: 1px solid;
  border-radius: 5px;
  width: 140px;
  height: 25px;
  background-color: antiquewhite;

}
.addButton{
  border: 1px solid;
  border-radius: 5px;
  width: 60px;
  font-size: 11px;
  line-height: 15px;
  margin-left: 5px;
  background-color: rgb(187, 245, 99);
}
.cancelButton{
  border: 1px solid;
  border-radius: 5px;
  width: 60px;
  font-size: 11px;
  line-height: 15px;
  margin-left: 5px;
  background-color: rgb(241, 135, 236);
}
.item-table{
  margin-top: 12px;
  width: 1200px;
  height: fit-content;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}
th{
  border: 1px solid;
  font-size: 15px;
  line-height: 18px;
  background-color: rgb(165, 165, 247);
  color: yellow;
}
tr:nth-child(even){
  background-color: coral;
}
.editButton{
  border: 1px solid;
  font-size: 10px;
  line-height: 12px;
  width: 50px;
  background-color: rgb(168, 224, 82);
  border-radius: 5px;
  color: blue;
}
.deleteButton{
  border: 1px solid;
  font-size: 10px;
  line-height: 12px;
  width: 50px;
  background-color: rgb(240, 122, 204);
  border-radius: 5px;
  color: blue;
}
.paginationdiv{
  margin-top: 5px;
}
.paginationdivbutton{
  border: 1px solid;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
  border-radius: 5px;
  width: 45px;
  background-color: rgb(163, 184, 245);
}
.index{
  margin-left: 5px;
}
