.paginationdiv{
  margin-top: 5px;
}
.paginationdivbutton{
  border: 1px solid;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
  border-radius: 5px;
  width: 45px;
  background-color: rgb(163, 184, 245);
}
.index{
  margin-left: 5px;
}
